<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Accelera</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script language="javascript" type="text/javascript"
    src="{{ STATIC_URL }}jquery.min.js"></script>
    <script language="javascript" type="text/javascript"
    src="{{ STATIC_URL }}flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript"
    src="{{ STATIC_URL }}flot/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript"
    src="{{ STATIC_URL }}main.js"></script>
</head>
<body>
    <div id="graph" style="width:600px;height:300px"></div>
</body>
</html>
